@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(118.73deg, #F4F4FD 2.47%, #cfccee 100%);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.container h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.container form {
    text-align: center;
    padding: 0 40px;
    box-sizing: border-box;
}

input[type=url] {
    width: 210px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 12px 12px 12px;
    transition: width 0.4s ease-in-out;
}

input[type=url]:focus {
    width: 100%;
}

input[type=submit] {
    display: inline-block;
    border-radius: 4px;
    background-color: #1e82f4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    width: 210px;
    transition: all 0.5s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0a53a7;
    border-color: #0a53a7;
}

#logout {
    display: block;
    align-items: end;
    background-color: #8d8e8f;
    border-radius: 10px;
    border-color: #8d8e8f;
    margin-bottom: 20px;
    width: 100px;
    font-size: medium;
    height: 30px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
    float: right;
    margin: 20px;
}

#logout:hover {
    background-color: #535353;
    border-color: #535353;
}


.logout {
    width: 100%;
    overflow: hidden;
    clear: both;
}
