@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(118.73deg, #F4F4FD 2.47%, #cfccee 100%);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.container h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.container .stats {
    text-align: center;
    padding: 0 40px;
    box-sizing: border-box;
}

#author {
    text-align: center;
    padding-top: 10px;
}

#title {
    text-align: center;
    padding-bottom: 10px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 130px;
    height: 130px;

    border-radius: 20%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

#download {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #1e82f4;
    border-radius: 10px;
    border-color: #1e82f4;
    margin-bottom: 20px;
    width: 60%;
    font-size: larger;
    height: 10%;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
}

#download:hover {
    background-color: #0a53a7;
    border-color: #0a53a7;
}

#home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #bcd6f3;
    border-radius: 10px;
    border-color: #bcd6f3;
    margin-bottom: 20px;
    width: 60%;
    font-size: larger;
    height: 10%;
    color: rgb(0, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
}

#home:hover {
    background-color: rgb(156, 158, 160);
    border-color: rgb(156, 158, 160);
}

#logout {
    display: block;
    align-items: end;
    background-color: #8d8e8f;
    border-radius: 10px;
    border-color: #8d8e8f;
    margin-bottom: 20px;
    width: 100px;
    font-size: medium;
    height: 30px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
    float: right;
    margin: 20px;
}

#logout:hover {
    background-color: #535353;
    border-color: #535353;
}


.logout {
    width: 100%;
    overflow: hidden;
    clear: both;
}
