<html>

<head>
    <title>Polsu Downloader - Download</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/download.css" rel="stylesheet" media="screen">
</head>

<body>
    <div class="container">
        <h1>Youtube Downloader</h1>
        <form action="/video" method="post">
            <div class="txt_field">
                <input type="url" pattern="^((?:https?:)?\/\/)?((?:www|m|music)\.)?((?:youtube(-nocookie)?\.com|youtu.be))(\/(?:[\w\-]+\?v=|embed\/|v\/)?)([\w\-]+)(\S+)?$" placeholder="Youtube Video URL or ID" name="videolink" value="{{ request.form.videolink }}" required>
            </div>
            <input type="submit" value="Download">
        </form>
    </div>
    <div class="logout">
        <button id="logout" onclick="window.location.href='/logout'">Logout</button>
    </div>
</body>

</html>