<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Polsu Downloader - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/login.css">
</head>

<body>
    <div class="container">
        <h1>Login</h1>
        <form action="" method="post">
            <div class="txt_field">
                <input type="text" name="username" value="{{ request.form.username }}" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" value="{{ request.form.password }}" required>
                <span></span>
                <label>Password</label>
            </div>
            <input type="submit" value="Login">
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
        <footer><strong>Please login before you continue...</strong></footer>
    </div>
</body>

</html>