<html>

<head>
    <title>Polsu Downloader - Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/status.css" rel="stylesheet" media="screen">

    <script>
        function downloadBlob(blob, filename) {
            var a = document.createElement('a');
            a.download = filename;
            a.href = blob;
            document.body.appendChild(a);
            a.click();
            a.remove();
        }

        function downloadResource() {
            url = '{{ path }}'
            //filename = url.split('\\').pop().split('/').pop();
            filename = '{{ rawTitle }}';
            fetch(url, {
                mode: 'no-cors'
            })
                .then(response => response.blob())
                .then(blob => {
                    let blobUrl = window.URL.createObjectURL(blob);
                    downloadBlob(blobUrl, filename);
                })
                .catch(e => console.error(e));
        }
    </script>
</head>

<body>
    <div class="container">
        <h1>Youtube Downloader</h1>
        <stats>
            <img src="{{ image }}">
            <p id="author"><strong>{{ author }}</strong></p>
            <a href="{{ url }}" target="_blank"><p id="title">{{ title }}</p></a>
            <button id="download" onclick="downloadResource()">Download</button>
            <button id="home" onclick="window.location.href='/download'">Go Back</button>
        </stats>
    </div>
    <div class="logout">
        <button id="logout" onclick="window.location.href='/logout'">Logout</button>
    </div>
</body>

</html>